{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title_content %}{{ title }}{% endblock %}
{% block app_content %}
    <h6>
        If you want to test the app, <a href="{{ url_for('main.login_as_guest')}}">click</a> to log in as Guest.
    </h6><br>

    {% if title == 'Reset Password' %}
    <h6>Enter your email address to reset the password:</h6>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if title == 'Log In' %}
    <p>Forgot your password?
        <a href="{{ url_for('auth.reset_password_request') }}">Reset Password</a>
    </p>
    {% endif %}

{% endblock %}
