{% extends "base.html" %}

{% block title_content %}{{ title }}{% endblock %}
{% block button_content %}

<div class="btn-toolbar mb-2 mb-md-0">
  {% if g.current_invest.name %}
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <a href="{{ url_for('documents.documents', current_path=prev_path) }}">Back</a>
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <a href="{{ url_for('documents.new_folder', current_path=current_path) }}">Add new folder</a>
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <a href="{{ url_for('documents.upload_files', current_path=current_path) }}">Add new files</a>
        </button>
      </div>
      {% else %}
        <div class="container">
          <h6>No Investment selected.</h6><br>
        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a href="{{ url_for('investments.invest_list') }}">Select Investment</a>
            </button>
        </div>
      {% endif %}
</div>

{% endblock %}
{% block app_content %}

<main>
      <div class="table-responsive">
    {% if g.current_invest.name %}
        <table class="table table-striped table-sm small">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Last modified</th>
              <th class="text-center">Created</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
		  {% for folder in folders %}
		  <tr>
		      <td class="text-center"><a href="{{ url_for('documents.documents', current_path=current_path, catalog=folder.name) }}">{{ folder.name }}</a></td>
              <td class="text-center">{{ folder.last_modified }}</td>
		      <td class="text-center">{{ folder.created_at }}</td>
		      <td class="text-center">
                  <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-1">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a href="{{ url_for('documents.make_archive', current_path=current_path, catalog_to_archive=folder.name) }}">Archive</a>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a href="{{ url_for('documents.delete', current_path=current_path, filename=folder.name) }}">Delete</a>
                          </button>
                      </div>
                  </div>
			  </td>
          </tr>
		  {% endfor %}
          		  {% for file in files %}
		  <tr>
		      <td class="text-center">{{ file.name }}</td>
              <td class="text-center">{{ file.last_modified }}</td>
		      <td class="text-center">{{ file.created_at }}</td>
		      <td class="text-center">
                  <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-1">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a href="{{ url_for('documents.download_file', current_path=current_path, filename=file.name) }}">Download</a>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a href="{{ url_for('documents.delete', current_path=current_path, filename=file.name) }}">Delete</a>
                          </button>
                      </div>
                  </div>
			  </td>
          </tr>
		  {% endfor %}
          </tbody>
        </table>
    {% endif %}
      </div>
</main>

{% endblock %}
