{% extends "base.html" %}

{% block content %}

<h2>Quantity survey of the masonry works.</h2>

<div><a href="{{ url_for('walls') }}">Back to walls</a></div>

<table style="width:100%">
  <tr>
      {% for title in hole_header %}
      <th>{{ title }}</th>
      {% endfor %}
  </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.width }}</td>
      <td>{{ item.height }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.area }}</td>
      <td>{{ item.total_area }}</td>
      <td>{{ item.below_3m2 }}</td>

      <td><a href="{{ url_for('masonry_edit_form', wall_id=wall_id) }}">Edit hole</a></td>
    {% endfor %}
  </tr>
</table>
<div><a href="{{ url_for('add_hole', wall_id=wall_id, next_page=url_for('holes', wall_id=wall_id)) }}">Add hole</a></div>

{% endblock %}
