{% extends "base.html" %}

{% block content %}

<h2>Quantity survey of the masonry works.</h2>

<div><a href="{{ url_for('masonry_works.walls') }}">Back to walls</a></div>

<table style="width:100%">
  <tr>
      {% for title in processing_header %}
      <th>{{ title }}</th>
      {% endfor %}
  </tr>
  {% for item in items %}
  <tr>
      <td>{{ item.year }}</td>
      <td>{{ item.month }}</td>
      <td>{{ item.done }}</td>

      <td><a href="{{ url_for('masonry_works.masonry_edit_form', wall_id=wall_id) }}">Edit processing</a></td>
  {% endfor %}
  </tr>
</table>
<div>
    <a href="{{ url_for('masonry_works.add_processing',
    wall_id=wall_id, next_page=url_for('masonry_works.processing', wall_id=wall_id)) }}">
    Add processing
</a></div>

{% endblock %}
