{% extends "base.html" %}

{% block content %}

<h2>Quantity survey of the masonry works.</h2>

<table style="width:100%">
  <tr>
      {% for title in wall_header %}
      <th>{{ title }}</th>
      {% endfor %}

      {% for title in hole_header %}
      <th>{{ title }}</th>
      {% endfor %}

      {% for title in processing_header %}
      <th>{{ title }}</th>
      {% endfor %}

  </tr>
  {% for item in items %}
  <tr>
      <td>{{ item.object }}</td>
      <td>{{ item.level }}</td>
      <td>{{ item.localization }}</td>
      <td>{{ item.brick_type }}</td>
      <td>{{ item.wall_width }}</td>
      <td>{{ item.wall_length }}</td>
      <td>{{ item.floor_ord }}</td>
      <td>{{ item.ceiling_ord }}</td>
      <td>{{ item.wall_height }}</td>

      {% for hole in item.holes %}
      <td>{{ hole.hole_width }}</td>
      <td>{{ hole.hole_height }}</td>
      <td>{{ hole.holes_amount }}</td>
      <td>{{ hole.hole_area }}</td>
      <td>{{ hole.below_3m2 }}</td>
      <td>{{ hole.holes_area }}</td>
      {% endfor %}

      <td>{{ item.wall_area_to_survey }}</td>
      <td>{{ item.wall_area_to_sale }}</td>
      <td>{{ item.left_to_sale }}</td>
      {% for process in item.processing %}
      <td>{{ process.year }}</td>
      <td>{{ process.month }}</td>
      <td>{{ process.done }}</td>
      {% endfor %}
      <td>{{ item.id }}</td>
      <td>{{ item.wall_area_to_survey }}</td>
      <td>{{ item.wall_area_to_sale }}</td>
      <td>{{ item.left_to_sale }}</td>

      <td><a href="{{ url_for('masonry_edit_form', _id=item.id) }}">Edit wall</a></td>
      <td><a href="{{ url_for('add_hole', _id=item.id) }}">Add hole</a></td>
      <td><a href="{{ url_for('masonry_edit_form', _id=item.id) }}">Edit hole</a></td>
      <td><a href="{{ url_for('add_processing', _id=item.id) }}">Add processing</a></td>
      <td><a href="{{ url_for('masonry_edit_form', _id=item.id) }}">Edit processing</a></td>

  </tr>
  {% endfor %}
</table>
    <div><a href="{{ url_for('add_wall') }}">Add new wall</a></div>

{% endblock %}
