{% extends "base.html" %}

{% block title_content %}{{ title }}{% endblock %}
{% block button_content %}

<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <a href="{{ url_for('custom_registry.start') }}">Back</a>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <a href="{{ url_for('custom_registry.add_data', registry_name=title) }}">Add Data</a>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <a href="{{ url_for('custom_registry.add_column', registry_name=title) }}">Add New Column</a>
    </button>
  </div>
</div>

{% endblock %}
{% block app_content %}

<main>
      <div class="table-responsive">
        <table class="table table-striped table-sm small">

          <thead>
            <tr>
              {% for field_name in registry.get_fields() %}
              <th class="text-center">
                <div class="btn-group">
                    {{ field_name }}
                </div>
              </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
		  {% for item in registry.get_items() %}
		  <tr>
              {% for field_name in registry.get_fields() %}
                {% if field_name in item.keys() %}
    		      <td class="text-center">{{ item.__getitem__(field_name) }}</td>
                {% else %}
    		      <td class="text-center"></td>
                {% endif %}
              {% endfor %}
		      <td class="text-center">
                  <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-1">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                              <a href="{{ url_for('custom_registry.edit_item', _id=item._id, registry_name=title) }}">Edit</a>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a href="{{ url_for('custom_registry.delete_item', _id=item._id, registry_name=title) }}">Delete</a>
                          </button>
                      </div>
                  </div>
			  </td>
          </tr>
		  {% endfor %}
          </tbody>

        </table>
      </div>
    </main>
{% endblock %}
