{% extends "base.html" %}

{% block title_content %}{{ title }}{% endblock %}
{% block button_content %}

<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <a href="{{ url_for('custom_registry.create_table') }}">Create New Registry</a>
    </button>
  </div>
</div>

{% endblock %}
{% block app_content %}

<main>
      <div class="table-responsive">
        <table class="table table-striped">

          <thead>
            <tr>
              {% for field_name in field_names %}
              <th class="text-center">
                <div class="btn-group">
                    {{ field_name }}
                </div>
              </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>

          {% for registry in registries %}
		  <tr>
              <td class="text-center">
                <a href="{{ url_for('custom_registry.registry', registry_name=registry) }}">{{ registry }}</a><br>
              </td>
		      <td class="text-center">
                  <div class="btn-toolbar mb-2 mb-md-0">
                      <div class="btn-group mr-1">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                              <a href="{{ url_for('custom_registry.add_column', registry_name=registry) }}">Add New Column</a>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                              <a href="{{ url_for('custom_registry.delete_registry', registry_name=registry) }}">Delete Registry</a>
                          </button>
                      </div>
                  </div>
			  </td>
          </tr>
		  {% endfor %}

          </tbody>

        </table>
      </div>
    </main>

{% endblock %}
